<!-- <script src="{{hypothesisDomain}}/assets/lib/d3.js"></script>
<script src="{{hypothesisDomain}}/assets/js/dom_text_mapper.js"></script>
<script src="{{hypothesisDomain}}/assets/js/dom_text_matcher.js"></script>
<script src="{{hypothesisDomain}}/assets/js/text_match_engines.js"></script>
<script src="{{hypothesisDomain}}/assets/lib/diff_match_patch_uncompressed.js"></script>
<script src="{{hypothesisDomain}}/assets/lib/jquery-1.10.2.js"></script>
<script src="{{hypothesisDomain}}/assets/lib/jquery.scrollintoview.js"></script>
<script src="{{hypothesisDomain}}/assets/lib/jschannel.js"></script>
<script src="{{hypothesisDomain}}/assets/lib/gettext.js"></script>
<script src="{{hypothesisDomain}}/assets/locale/data.js"></script>

<script src="{{hypothesisDomain}}/assets/lib/annotator.js"></script>
<script src="{{hypothesisDomain}}/assets/js/plugin/bridge.js"></script>
<script src="{{hypothesisDomain}}/assets/lib/annotator.document.js"></script>

<script src="{{hypothesisDomain}}/assets/js/plugin/heatmap.js"></script>
<script src="{{hypothesisDomain}}/assets/js/plugin/toolbar.js"></script>
<script src="{{hypothesisDomain}}/assets/js/guest.js"></script>
<script src="{{hypothesisDomain}}/assets/js/host.js"></script> -->

<script src="http://multi-frame-8.dokku.hypothes.is/assets/lib/d3.js"></script>
<script src="http://multi-frame-8.dokku.hypothes.is/assets/js/dom_text_mapper.js"></script>
<script src="http://multi-frame-8.dokku.hypothes.is/assets/js/dom_text_matcher.js"></script>
<script src="http://multi-frame-8.dokku.hypothes.is/assets/js/text_match_engines.js"></script>
<script src="http://multi-frame-8.dokku.hypothes.is/assets/lib/diff_match_patch_uncompressed.js"></script>
<script src="http://multi-frame-8.dokku.hypothes.is/assets/lib/jquery-1.10.2.js"></script>
<script src="http://multi-frame-8.dokku.hypothes.is/assets/lib/jquery.scrollintoview.js"></script>
<script src="http://multi-frame-8.dokku.hypothes.is/assets/lib/jschannel.js"></script>
<script src="http://multi-frame-8.dokku.hypothes.is/assets/lib/gettext.js"></script>
<script src="http://multi-frame-8.dokku.hypothes.is/assets/locale/data.js"></script>

<script src="http://multi-frame-8.dokku.hypothes.is/assets/lib/annotator.js"></script>
<script src="http://multi-frame-8.dokku.hypothes.is/assets/js/plugin/bridge.js"></script>
<script src="http://multi-frame-8.dokku.hypothes.is/assets/lib/annotator.document.js"></script>

<script src="http://multi-frame-8.dokku.hypothes.is/assets/js/plugin/heatmap.js"></script>
<script src="http://multi-frame-8.dokku.hypothes.is/assets/js/plugin/toolbar.js"></script>
<script src="http://multi-frame-8.dokku.hypothes.is/assets/js/guest.js"></script>
<script src="http://multi-frame-8.dokku.hypothes.is/assets/js/host.js"></script>